@font-face {
    font-family: 'Khmer Banteay Srey';
    src: url(../Fonts/Khmer\ Banteay\ Srey.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

body {
    background-color: #287242;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    position: relative;
    font-size: 0.80rem;
    left: 2rem;
    cursor: pointer;
}

.logo span {
    position: absolute;
    font-weight: 200;
    font-family: 'Khmer Banteay Srey';
    font-size: 2rem;
    top: -18px;
    left: -1.5rem;
}

.logo:hover {
    transform: scale(1.05);
    text-shadow: 0 0 15px #d5fadd;
    
}

nav {
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1.25rem;
}

nav a {
    text-decoration: none;
}

nav a:hover,
nav span {
    color: #d5fadd;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transform: scale(1.05);
}

.icon-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.icon {
    display: flex;
    gap: 1rem;
}

.icon i {
    width: 40px;
}

.icon i:hover {
    transform: scale(1.05);
}

.profile {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.profile img {
    border-radius: 50%;
}

.username {
    font-size: 1rem;
    font-weight: 500;
}

/* * Header Styles */

.profileBar
{
    overflow: hidden;
    position: fixed;
    right: 0;
    
}
.profile2{
    padding: 2em;
    align-items: center;
    width: 400px;
    height: 100vh;
    background-color: #3A9D5D;
    color: white;
    font-size: 1.5em;
    border-radius: 0.5em 0 0 0.5em;
}
.profileResponsive
{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profilePic img
{
    width: 40%;
    height: auto;
    border-radius: 50%;
}

/* Open information form */
section {
    padding: 1rem;
}

section h2 {
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 2rem;
    padding-bottom: 0;
}

section article {
    padding: 2rem 6rem;
    font-size: 1.25rem;
    padding-bottom: 1rem;
}

.img-wrapper {
    margin: 1rem 5rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-group img {
    margin-top: 1rem;
    border-radius: 8px;
}

.img-group img:hover {
    box-shadow: 0 0 15px #d5fadd;
}

.img-group p {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-family: monospace;
}

.img-group:hover {
    transition: 0.3s ease;
    transform: scale(1.02);
}